*{
  margin: 0px;
  padding: 0px;
}
.timeline{
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
}
.text-box{
  padding: 20px 30px;
  position: relative;
}
.left-container{
  left: 0;
}
.right-container{
  left: 50%;
}