.slick-slider {
    width: 100vw;
}

.slide {
    text-align: center;
    padding: 40px;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.slide h2 {
    margin: 0 0 10px;
}

.slick-dots {
    margin-top: 20px;
}

.slick-dots li button::before {
    color: #386391; /* Dot color */
    font-size: 12px;
}

.slick-dots li.slick-active button::before {
    color: #0056b3; /* Active dot color */
}
.feat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feat h2{
    color: #07407c;
    font-size: 2.3rem;
    text-shadow: 1px 1px 5px rgba(17, 56, 140, 0.7);
}
.feat1{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    height: 400px;
}
.feat-img img{
    width: 500px;
    height: 400px;
}
.intro-content h3{
    color: #264e78;
    font-size: 2rem;
    margin-bottom: 30px;
}
.intro-content p{
    width: 700px;
    line-height: 1.9rem;
    font-size: 1rem;
    color: #264e78;
}